.opeation-icon{
    padding:5px 5px 5px 10px;
    background: #f7f7f7;
    height: 26px;
    .icon{
      display: inline-block;
      width: 16px;
      height:16px;
      background-repeat: no-repeat;
      margin-right: 10px;
      background-position: left center;
      cursor: pointer;
    }
    .icon-add{
      background-image: url('../../../assets/images/system/tool/add.png');
    }
    .icon-down{
      width:26px;
      text-align: right;
      margin-right: 4px;
      i{
        font-size: 12px;
        transform: scale(.5);
        color: #666;
        position: relative;
        top: -3px;
      }
    } 
    .icon-del{
      background-image: url('../../../assets/images/system/tool/del.png');
    }
    .icon-move-up{
      background-image: url('../../../assets/images/system/tool/move-up.png');
    }
    .icon-move-down{
      background-image: url('../../../assets/images/system/tool/move-down.png');
    }
    .icon-save{
      background-image: url('../../../assets/images/system/tool/save.png');
    }
    .icon-add-brother{
      background-image: url('../../../assets/images/system/tool/add-brother.png');
    }
    .icon-add-children{
      background-image: url('../../../assets/images/system/tool/add-children.png');
    }
    .icon-add-documentation{
      background-image: url('../../../assets/images/system/tool/add-documentation.png');
    }
    .icon-open{
      background-image: url('../../../assets/images/system/tool/open.png');
    }
    .icon-close{
      background-image: url('../../../assets/images/system/tool/close.png');
    }
    .icon-import{
      background-image: url('../../../assets/images/system/tool/import.png');
    }
    .icon-export{
      background-image: url('../../../assets/images/system/tool/export.png');
    }
    .icon-set-up{
      background-image: url('../../../assets/images/system/tool/set-up.png');
    }
    .icon-file-filing{
      background-image: url('../../../assets/images/system/tool/file-filing.png');
    }
    .icon-edit{
      background-image: url('../../../assets/images/system/tool/edit.png');
    }
    .icon-download{
      background-image: url('../../../assets/images/system/tool/download.png');
    }
    .icon-tips{
      background-image: url('../../../assets/images/system/tool/tips.png');
      margin-left: 3px;
      margin-right: 0;
    }
    .opeation-select{
      float: right;
      top:-4px;
      font-size: 12px;
    }
    .ant-select-dropdown{
      font-size: 12px;
    }
}