
.demand-management{
    font-size: 12px;
    color: #666;
  
    .fl{float: left;}
    .fr{ float: right;}
    .clearFixed::after{
      content: "";
      clear: both;
      height: 0;
      display: block;
    }
    .clearBoth{
      clear: both;
    }
  
    .top-menu{
      padding: 5px 10px;
      background-color: #f7f7f7;
      line-height: 30px;
      height: 40px;
      .title{
        font-size: 16px;
        margin-left: 10px;
      }
      .myMenu-btn {
        display: inline-block;
        width: 28px;
        height: 30px;
        background: url('../../assets/images/system/icon1.png') no-repeat -23px -71px;
        float:left;
        cursor: pointer;
      }
    }
  
    //路径面包屑，视图
    .demand-item-bread-crumbs{
      padding: 4px 0px;
      background-color: #f7f7f7;
      line-height: 22px;
      border-top:1px #e9e9e9 solid;
      .path{
        float: left;
        width:100%;
        padding-left: 10px;
        box-sizing: border-box;
        overflow: hidden; text-overflow:ellipsis; white-space: nowrap;
      }
      .view{
        float: left;
        margin-left: 16px;
        width:50%;
        .ant-select{
          position: relative;
          top:-1px;
        }
      }
    }
  
    .drag-resize{
      width:6px;
      height:100%;
      cursor: col-resize;
      position: absolute;
      top:0;
      right:-6px;
      z-index: 8;
      background:#fff;
      span{
        display: block;
        width:5px;
        height: 48px;
        position: absolute;
        top:50%;
        left:0;
        margin-top: -24px;
        z-index: 9;
        background:url('../../assets/images/system/u59.png') no-repeat -1px center #fff;
        cursor: pointer;
      }
    }
    .ant-row{
      margin: 0 !important;
      // overflow-x: hidden;
    }
    //操作icon按钮
    .opeation-icon{
      padding:5px 5px 5px 10px;
      background: #f7f7f7;
      height: 26px;
      .icon{
        display: inline-block;
        width: 16px;
        height:16px;
        background-repeat: no-repeat;
        margin-right: 10px;
        background-position: left center;
        cursor: pointer;
      }
      .icon-add{
        background-image: url('../../assets/images/system/tool/add.png');
      }
      .icon-down{
        width:26px;
        text-align: right;
        margin-right: 4px;
        i{
          font-size: 12px;
          transform: scale(.5);
          color: #666;
          position: relative;
          top: -3px;
        }
      } 
      .icon-del{
        background-image: url('../../assets/images/system/tool/del.png');
      }
      .icon-move-up{
        background-image: url('../../assets/images/system/tool/move-up.png');
      }
      .icon-move-down{
        background-image: url('../../assets/images/system/tool/move-down.png');
      }
      .icon-save{
        background-image: url('../../assets/images/system/tool/save.png');
      }
      .icon-add-brother{
        background-image: url('../../assets/images/system/tool/add-brother.png');
      }
      .icon-add-children{
        background-image: url('../../assets/images/system/tool/add-children.png');
      }
      .icon-add-documentation{
        background-image: url('../../assets/images/system/tool/add-documentation.png');
      }
      .icon-open{
        background-image: url('../../assets/images/system/tool/open.png');
      }
      .icon-close{
        background-image: url('../../assets/images/system/tool/close.png');
      }
      .icon-export{
        background-image: url('../../assets/images/system/tool/export.png');
      }
      .icon-set-up{
        background-image: url('../../assets/images/system/tool/set-up.png');
      }
      .icon-file-filing{
        background-image: url('../../assets/images/system/tool/file-filing.png');
      }
      .icon-edit{
        background-image: url('../../assets/images/system/tool/edit.png');
      }
      .icon-download{
        background-image: url('../../assets/images/system/tool/download.png');
      }
      .icon-tips{
        background-image: url('../../assets/images/system/tool/tips.png');
        margin-left: 3px;
        margin-right: 0;
      }
      .opeation-select{
        float: right;
        top:-4px;
        font-size: 12px;
      }
      .ant-select-dropdown{
        font-size: 12px;
      }
    }
  
    //路径后面的操作icon按钮
    .opeation-icon.top-opeation{
      display: inline-block;
      height: 22px;
      padding: 0 0 0 10px;
      .icon{
        position: relative;
        top:5px;
      }
    }
   
  
    // 选项卡
    .ant-tabs{
      padding-top: 8px;
      background-color: #fff;
    }
    .ant-tabs.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab-inner{
      padding: 3px 10px;
      font-size: 12px;
    }
    .ant-tabs.ant-tabs-card>.ant-tabs-bar .ant-tabs-nav-container{
      height: auto;
    }
    .ant-tabs-bar{
      margin-bottom: 0;
    }
    .ant-tabs-nav-scroll{
      padding-left: 8px;
    }
    .ant-tabs.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab{
      background: none;
    }
    .ant-tabs.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab-active{
      background: #f7f7f7;
    }
    .ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-inner{
      color: #666;
    }
  
  
  //左侧树结构
    .left-content{
      border-right:1px #e9e9e9 solid;
      border-top:1px #e9e9e9 solid;
      font-size: 14px;
    }
    .left-tree{
      min-width: 200px;
      //条目管理树结构
      // .itemDetail-tree{
        li{
          overflow: hidden; text-overflow:ellipsis; white-space: nowrap;
          a{
            display: inline;
            padding-left: 20px;
            background-position: left 5px;
            background-repeat: no-repeat;
          }
        } 
        .my-select-tree>a{
          background-color: #ccedff;
        }
        .no-select-tree>a{
          background-color:#fff;
        }
      // }
      .check-tree{
        span.ant-tree-checkbox{
          margin-top: 0;
        }
        a{
          background-position: left 3px;
        }
      }
      
      .root a{
        background-image: url('../../assets/images/system/tree/root.png');
      }
      .saved a{
        background-image: url('../../assets/images/system/tree/saved.png');
      }
      .unsaved a{
        background-image: url('../../assets/images/system/tree/unsaved.png');
      }
      .inForce a{
        background-image: url('../../assets/images/system/tree/inForce.png');
      }
  
      //项目和文件夹
      .PROJECT a{
        background-image: url('../../assets/images/system/tree/project.png') !important;
      }
      .FOLDER a{
        background-image: url('../../assets/images/system/tree/folder.png');
      }
    }
    .right-content{
      border-left:1px #e9e9e9 solid;
      border-top:1px #e9e9e9 solid;
      background-color: #fff;
      min-width: 590px;
    }
  
    //table更小一些
    .demand-smaller-table.noHoverBg{
      .ant-table{
        tr:not(.ant-table-row-selected):hover{
          background: none;
        }
      }
    }
    .demand-smaller-table{
      .ant-table-body{
        min-height: 10px; 
      }
      .ant-table{
        font-size: 12px;
      }
      .ant-table-thead>tr>th,.ant-table-tbody>tr>td, .ant-table-tbody>tr>td .ant-table-row-nowrap{
        padding: 5px 8px;
      }
      .ant-table-header table{
        border-top:1px #e9e9e9 solid;
      }
      .ant-table-placeholder{
        padding: 10px 0;
      }
    }
  }
  .ant-pagination.mini .ant-pagination-options-quick-jumper input{
    height: 21px;
  }
  
  //新增同级标题对象
  .demand-mamagement-add-down{
    font-size: 12px;
    z-index: 10;
    .ant-popover-arrow{
      left:6px;
    }
    .ant-popover-inner{
      min-width: 50px;
    }
    .ant-popover-inner-content{
      padding: 4px 0;
      p:hover{
        background-color: #ccedff;
      }
    }
    p{ line-height: 28px;
       cursor: pointer;
       padding:0 10px;
    }
  }
  
  //左侧提示图标
  .demand-left-select-tip{
    z-index: 10;
    .ant-popover-arrow{
      left:2px;
    }
  }
  
  //导出form样式
  .demand-export-form .ant-modal-body{
    padding-bottom: 0;;
  }
  .demand-word-modal{
    .ant-modal-body{
        padding: 0;
    }
  }