.LRLayout-container,
.LRLayout-left,
.LRLayout-split,
.LRLayout-right{
    height: 100%;
    overflow: hidden;
}
.LRLayout-left,
.LRLayout-split,
.LRLayout-right{
    float: left;
}
.LRLayout-split{
    width: 8px;
    border-left:1px solid grey;
    border-right:1px solid grey;
}
.icon-area{
    width: 100%;
    position: relative;
    top:50%;
    transform: translateY(-50%);
}
.LRLayout-icon{
    display: block;
    height: 65px;
    cursor: pointer;
}
.arrow-left{
    background: url(./img/arrow-left.png) no-repeat center center;
}
.arrow-right{
    background: url(./img/arrow-right.png) no-repeat center center;
}
