
.demand-manage-item-detail{
    // width:100%;
    // height: calc(100vh - 40px);
    overflow-x: hidden;
    .ant-form-inline {padding-top:1px;}
    .ant-table{
        table{
            overflow: visible !important;
        }
        .icon-edit{
            display: none;
            width:20px;
            height: 20px;
            position: absolute;
            top:5px;
            right: 26px;
            // margin-top: -10px;
            background:url('assets/images/system/edit.jpg') no-repeat;
            cursor: pointer;
            z-index: 10;
        }
        .icon-dropdown {
            position: absolute;
            top:5px;
            right: 8px;
            display: none;
        }
        .icon-dropdown-edit {
            display: none;
            width: 20px;
            height: 20px;
            background:url('assets/images/system/edit.jpg') no-repeat;
            cursor: pointer;
            z-index: 10;
        }
        td iframe{
            position: relative;
            z-index: 1;
        }
        .ant-table-tbody>tr.ant-table-row-selected {
            .hover{
                display: inline-block !important;
            }
        }
        td{
            // position: static;
            vertical-align: top;
            .table-edit{
                padding: 5px 0;
                .ant-form-item-label {
                    padding: 6px 0;
                    label::after { content: ''}
                } 
                .ant-col-20 {
                    padding: 0;
                    width: 95%;
                }
                // position: relative;
                .edit-header {
                    width: 90%;
                }
                .edit-content{
                    width: 90%;
                    font-size: initial;
                    line-height: initial;

                    list-style: initial;
                    border: initial;
                    font-weight:initial;
                    color: #000;
                    overflow-x: hidden;

                    table{
                        min-width: 0;
                        max-width: 100%;
                    }
                    // padding-left: 20px;
                    div{
                        box-sizing: initial;
                    }
                    a{
                        text-decoration: initial;
                    }
                    a:hover,
                    a:focus {
                        text-decoration: initial !important;
                    }

                    a:focus {
                        outline: initial !important;
                    }
                    // ul li{
                    //     list-style: disc;
                        
                    // }
                    // ol li{
                    //     list-style: decimal;
                    // }
                    h1, h2, h3, h4, h5, h6{
                        font-weight: initial;
                    }
                    *[align='center']{
                        text-align: center;
                        table{
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                    img{
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
                
            }
            image{
                max-width: 100%;
            }
            .describe-textarea{
                min-height: 116px;
                max-width:100%;
                height:100%;
                width:100%;
                resize:vertical;
            }
        }
        td.noPadding{
            padding: 0 !important;
        }
        .out-link{
            display: block;
            width:8px;
            height: 8px;
            background:url('assets/images/system/link-out.png') no-repeat center center;
        }
        .enter-link{
            display: block;
            width:8px;
            height: 8px;
            background: url('assets/images/system/link-enter.png') no-repeat center center;
        }
        
        .ant-table-tbody>tr>td.status-td {
            position: relative;
            overflow: hidden;
            // width: 8px;
            // padding: 0 4px;
            // background: yellow;
            //可去掉背景色
        }
        // .ant-table-header>tr>td.name-td {
        //     padding-left: 1em;
        // }
        .status{
            position: absolute;
            top:0;
            width: 10px;
            height: 9999px;
        }
        .unsaved{
            background: #ffb22b;
        }
        .saved{
            background: #ffb22b;
        }
        .based {
            background: steelblue;
        }
        .deleted {
            background: red;
        }
        // th:nth-of-type(4){
        //     .react-resizable-handle{
        //         cursor: default;
        //     }
        //     max-width: 8px;
        //     padding: 0 !important;
        // }
        // td.ant-table-selection-column {
        //     // display: inline-block;
        //     // width: 30px;
        // }
    }
    .table-edit {
        // align-items: center;
        flex-direction: column;
        display: flex;
    }
}	

.opeation-disabled {
  opacity: .2;
  pointer-events: none;
}

.opeation-icon{
    // padding:5px 5px 5px 10px;
    background: #f7f7f7;
    // height: 26px;
    .icon{
        display: inline-block;
        width: 16px;
        height:16px;
        background-repeat: no-repeat;
        margin-right: 10px;
        background-position: left center;
        cursor: pointer;
    }
    .tl-icon {
        position: absolute;
        right: 0;
        display: inline;
    }
    .icon-back{
        background-image: url('assets/images/system/tool/返回.png');
    }
    .icon-setting{
        background-image: url('assets/images/system/tool/配置.png');
    }
    .icon-setting-record {
        background-image: url('assets/images/system/tool/软件配置项状态记录.png');
    }
    .icon-history {
        background-image: url('assets/images/system/tool/历史版本.png');
    }
    .icon-save {
        background-image: url('assets/images/system/tool/保存.png');
    }
    .icon-revoke {
        background-image: url('assets/images/system/tool/撤销视图设置.png');
    }
    .icon-save-as {
        background-image: url('assets/images/system/tool/另存为.png');
    }
    .icon-viewer-list {
        background-image: url('assets/images/system/tool/菜单.png');
    }
    .icon-title-add {
        background-image: url('assets/images/system/tool/新增标题.png');
    }
    .icon-content-add {
        background-image: url('assets/images/system/tool/新增文档.png');
    }
    .icon-title-content-add {
        background-image: url('assets/images/system/tool/新增标题+正文.png');
    }
    .icon-del {
        background-image: url('assets/images/system/tool/del.png');
    }
    .icon-cut {
        background-image: url('assets/images/system/tool/剪切.png');
    }
    .icon-copy {
        background-image: url('assets/images/system/tool/复制.png');
    }
    .icon-paste {
        background-image: url('assets/images/system/tool/粘贴.png');
    }
    .icon-ahead {
        background-image: url('assets/images/system/tool/前移.png');
    }
    .icon-afterward {
        background-image: url('assets/images/system/tool/降级.png');
    }
    .icon-lock {
        background-image: url('assets/images/system/tool/锁定.png');
    }
    .icon-unlock {
        background-image: url('assets/images/system/tool/解锁.png');
    }
    .icon-import {
        background-image: url('assets/images/system/tool/导入.png');
    }
    .icon-export {
        background-image: url('assets/images/system/tool/export.png');
    }
    .icon-joint-add {
        background-image: url('assets/images/system/tool/关联.png');
    }
    .icon-joint-cancel {
        background-image: url('assets/images/system/tool/取消关联.png');
    }
    .icon-refresh {
        background-image: url('assets/images/system/tool/刷新.png');
    }
    .icon-column-setting {
        background-image: url('assets/images/system/tool/设置显示列.png');
    }
    .icon-filter {
        background-image: url('assets/images/system/tool/过滤.png');
    }
}
