.opeation-icon{
    padding:0px 5px 0px 10px;
    background: #f7f7f7;
    height: 40px;
    line-height: 40px;
}
.pdfPageNum {
    font-family: Segoe UI, Tahoma, sans-serif;
   position: fixed;
   bottom: 20px;
   right: 20px;
    input, button {
      font: inherit;
    }
  
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center; 
      &__preview {
        border: 1px solid darkgray;
        margin: 1em 0;
      }
  
      &__controls {
        width: 300px;
        display: flex;
  
        span {
          flex-grow: 1;
          margin: 0 1em;
          text-align: center;
          line-height: 32px;
        }
  
        button {
          width: 80px;

        }
      }
    }
  }