#breadCrumbs {
	.back {
		display: inline-block;
		width: 30px;
		height: 30px;
	}
}
// .doc-table-controls > .opeation-icon { background-color: #fff !important;}

.opeation-icon{
    // padding:5px 5px 5px 10px;
    background: #f7f7f7;
    // height: 26px;
    .icon{
        display: inline-block;
        width: 16px;
        height:16px;
        background-repeat: no-repeat;
        margin-right: 10px;
        background-position: left center;
        cursor: pointer;
    }
    .tl-icon {
        position: absolute;
        right: 0;
        display: inline;
    }
    .icon-back{
        background-image: url('assets/images/system/tool/返回.png');
    }
    .icon-setting{
        background-image: url('assets/images/system/tool/配置.png');
    }
    .icon-setting-record {
        background-image: url('assets/images/system/tool/软件配置项状态记录.png');
    }
    .icon-history {
        background-image: url('assets/images/system/tool/历史版本.png');
    }
    .icon-save {
        background-image: url('assets/images/system/tool/保存.png');
    }
    .icon-revoke {
        background-image: url('assets/images/system/tool/撤销视图设置.png');
    }
    .icon-save-as {
        background-image: url('assets/images/system/tool/另存为.png');
    }
    .icon-viewer-list {
        background-image: url('assets/images/system/tool/菜单.png');
    }
    .icon-title-add {
        background-image: url('assets/images/system/tool/新增标题.png');
    }
    .icon-content-add {
        background-image: url('assets/images/system/tool/新增文档.png');
    }
    .icon-title-content-add {
        background-image: url('assets/images/system/tool/新增标题+正文.png');
    }
    .icon-del {
        background-image: url('assets/images/system/tool/del.png');
    }
    .icon-cut {
        background-image: url('assets/images/system/tool/剪切.png');
    }
    .icon-copy {
        background-image: url('assets/images/system/tool/复制.png');
    }
    .icon-paste {
        background-image: url('assets/images/system/tool/粘贴.png');
    }
    .icon-ahead {
        background-image: url('assets/images/system/tool/前移.png');
    }
    .icon-afterward {
        background-image: url('assets/images/system/tool/降级.png');
    }
    .icon-lock {
        background-image: url('assets/images/system/tool/锁定.png');
    }
    .icon-unlock {
        background-image: url('assets/images/system/tool/解锁.png');
    }
    .icon-import {
        background-image: url('assets/images/system/tool/导入.png');
    }
    .icon-export {
        background-image: url('assets/images/system/tool/export.png');
    }
    .icon-joint-add {
        background-image: url('assets/images/system/tool/关联.png');
    }
    .icon-joint-cancel {
        background-image: url('assets/images/system/tool/取消关联.png');
    }
    .icon-refresh {
        background-image: url('assets/images/system/tool/刷新.png');
    }
    .icon-column-setting {
        background-image: url('assets/images/system/tool/设置显示列.png');
    }
    .icon-filter {
        background-image: url('assets/images/system/tool/过滤.png');
    }
}
.breadCrumbs{
    position:absolute;
    top:50px;
    left:170px;
    // width: 90%;
    width: calc(100% - 190px);
    background:none
}
.breadCrumbs .sys-btn{
    float: right !important;
}
.projectPaths{  
    max-width: 60%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    display: inline-block;
}