.ant-steps .ant-steps-title{
    color: #005785 !important; 
font-family: Microsoft YaHei;
font-weight: normal !important;
color: #005785; 

}
.ant-steps-status-wait .ant-steps-title{
    color: #333 !important;
}